.action-button {
  display: inline-block;
  vertical-align: text-bottom;
  text-align: center;
  padding: 2em;
  margin: 1em;
  width: 100px;
  height: 100px;
  box-shadow: 1px 1px 2px 1px;
  background-image: url("/stg/SiteAssets/app/pdf.svg");
  background-position: center 5px;
  background-size: 60%;
  background-repeat: no-repeat;
  cursor: pointer;
}
.action-button > div {
  margin-top: 75px;
  font-weight: bold;
}
#dialog > div {
  padding: 1em;
  vertical-align: middle;
}
#dialog > div > select {
  margin-left: 1em;
}
