.exports-container {
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI",
    -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex-wrap: wrap;
}
.action-button {
  display: flex;
  align-items: center;
  flex: 0 47%;
  width: 47%;
  min-height: 58px;
  text-align: center;
  margin: 0 3% 10px 0;
  border-radius: 3px;
  box-shadow: 1px 1px 2px 1px;
  background-image: url("https://dvagov.sharepoint.com/sites/VACOOMOBO/FROS/a123/SiteAssets/app/pdf-icon.png");
  background-position: 5px center;
  background-size: auto 30px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.button-content {
  padding: 8px 16px;
}
.action-button:hover {
  background-color: #dadada;
}
.action-button > div {
  margin-left: 25px;
}
#dialog > div {
  padding: 1em;
  vertical-align: middle;
}
#dialog > div > select {
  margin-left: 1em;
}

@media screen and (max-width: 350px) {
  .action-button {
    width: 97%;
    flex: 0 97%;
    max-width: 180px;
  }
}
